@import "tailwindcss/base";
@import "tailwindcss/utilities";

@font-face {
  font-family: "Brush Script MT";
  src: url("/assets/fonts/brush_script_mt.ttf") format("truetype");
}

* {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: #ffffff;
  color: #000000;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Roboto";
  margin: 0;
}

.nameplate {
  color: #2076C1;
  font-family: "Brush Script MT";
  font-size: 2em;
  text-shadow: 1px 0px 0px #000000;
}

.image-container {
  &:first-child {
    margin-top: 0px;
  }

  &:last-child {
    margin-bottom: 0px;
  }
}
