<div>
  <p>
    If you'd like to get a hold of me, shoot me an email 
    <span class="duration-200 hover:text-neutral-900 text-base transform transition-colors underline">
        <%= link_to "here.", "mailto:me@kingscott.ca?subject=👋" %>
    </span>
  </p>
  <code>
    me@kingscott.ca
  </code>
<br /><br />
<div>
  <p>Otherwise, you can find me here:</p>
  <ul>
    <li class="duration-200 hover:text-neutral-900 text-base transform transition-colors underline">
      <%= link_to "GitHub", "https://github.com/kingscott", target: "_blank" %>
    </li>
    <li class="duration-200 hover:text-neutral-900 text-base transform transition-colors underline">
      <%= link_to "LinkedIn", "https://linkedin.com/in/kingscott22", target: "_blank" %>
    </li>
  </ul>
</div>
