<div>
  <p>
    If you'd like to get a hold of me, shoot me an email 
    <span class="link">
      <%= link_to "here.", "mailto:piton_tent_0g@icloud.com?subject=👋" %>
    </span>
  </p>
  <code>
    piton_tent_0g@icloud.com
  </code>
  <p class="text-xs">
    I use a service to obfuscate my personal email address. The above email will redirect to my personal address.
  </p>
<br />
<div>
  <p>Otherwise, you can find me here:</p>
  <ul>
    <li class="link">
      <%= link_to "GitHub", "https://github.com/kingscott", target: "_blank" %>
    </li>
    <li class="link">
      <%= link_to "LinkedIn", "https://linkedin.com/in/kingscott22", target: "_blank" %>
    </li>
  </ul>
</div>
