@tailwind base;
@tailwind components;
@tailwind utilities;

#cardContainer {
    perspective: 600px;
}

#card {
    transform-style: preserve-3d;
}

@keyframes wiggle {
    0% {
        transform: rotateY(0deg);
    }
    80% {
        transform: rotateY(0deg);
    }
    85% {
        transform: rotateY(5deg);
    }
    95% {
        transform: rotateY(-5deg)
    }
    100% {
        transform: rotateY(0deg);
    }
}

@layer components {
    .link {
        @apply duration-200 hover:text-red-800 transform transition-colors underline; 
    }

    .hover\:rotate-y-180:hover,
    .rotate-y-180 {
        transform: rotateY(180deg);
    }

    .backface-hidden {
        backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
    }
}
