<%
=begin%>
 <ul>
  <% @series_list.each do |s| %>
    <li class="duration-200 hover:text-neutral-900 text-base transform transition-colors">
      <%= s.title %>
    </li>
  <% end %>
</ul> 
<%
=end%>

<h1>Coming soon</h1>
