<div id="tailwind2024" class="mx-10 lg:mx-16">
  <p>// TODO fix this first heading</p>
  <header class="mb-10">
    <h1 class="font-extrabold text-2xl">
      Hey, I'm Scott
    </h1>
    <p class="my-4">
      Tell us a little bit about yourself. TL;DR elevator pitch, with small details on background.
    </p>
    <div id="cardContainer" class="h-[260px] w-[200px]">
      <div id="card" class="relative h-full w-full duration-1000 ease-in-out transition-transform transform-gpu">
        <div id="faceBack" class="absolute bg-blue-500 border h-full rounded w-full ">
          <p>Something really cool</p>
        </div>
        <div id="faceFront" class="absolute bg-red-500 border h-full rounded w-full">
          <p>Hello, I'm Scott</p>
        </div>
      </div>
    </div>
  </header>
  <div class="mt-8">
    <h2 class="font-extrabold text-xl">
      What makes me excited about this position?
    </h2>
    <p class="my-4">
    Here I'll talk about why I'm interested in this position, and all the cool things we can do.
    </p>
    <h2 class="font-extrabold text-xl">
      What about my experience? (including technical writing)
    </h2>
    <p class="my-4">
      Here I'll talk about the in-betweens in my experience that aren't found on my resume; leadership experience, 
      things I've introduced to the org, how I'm used to operating, and what I like to do in addition to just working.
    </p>
    <h2 class="font-extrabold text-xl">
      Building stuff and what I like to do 
    </h2>
    <p class="my-4">
      Here I'll talk about some interesting projects I've gotten to work on, and some contributions.  
    </p>
    <h2 class="font-extrabold text-xl">
      FREE TIME
    </h2>
    <p class="my-4">
      Here is where I'll talk about my free time: learning, Strava, photography, tinkering, etc.
    </p>
  </div>
</div>
