<div>
  <div class="flex mb-4">
    <p class="font-bold mr-1"><%= @series.title %></p>
    <p>&nbsp;(<%= @series.release.year %>)&nbsp;</p>
    <p>By: <%= @series.author %></p>    
  </div>
  <div class="flex flex-wrap gap-4 justify-center md:gap-8 xs:gap-1 w-full">
    <% when_present(@tb_files) do |thumbnails| %>      
        <% thumbnails.each do |image_path| %>
          <div>
            <img class="h-32 w-32 sm:h-40 sm:w-40 md:h-48 md:w-48 lg:h-52 lg:w-52 object-cover" src="<%= image_path.sub(Rails.root.join("app", "assets", "images").to_s, "/assets") %>" />
          </div>
        <% end %>      
    <% end %>
  </div> 
</div>
