<div class="flex flex-col">
  <div class="mb-4">
    <p class="font-bold">Photography</p>  
    <div>
      <% when_present(@photo_series_list) do |photo_series_list| %>
        <ul>
          <% photo_series_list.each do |photo_series| %>
            <li class="duration-200 hover:text-red-800 text-base transform transition-colors" aria-label="<%= photo_series.title %>">
              <%= link_to photo_series.title, series_path(photo_series) %>
            </li>
          <% end %>
        </ul> 
      <% end %>
    </div>
  </div>

  <div class="mb-4">
    <p class="font-bold">Recording</p>
    <div>
      <% when_present(@recording_list) do |recording_list| %>
        <ul>
          <% recording_list.each do |recording| %>
            <li class="duration-200 hover:text-red-800 text-base transform transition-colors" aria-label="<%= recording.title %>">
              <%= link_to recording.title, recording.location %>
            </li>
          <% end %>
        </ul> 
      <% end %>
    </div>
  </div>

  <div>
    <p class="font-bold">Print</p>
    <p>Coming soon</p>
  </div>
</div>

